<!DOCTYPE html>
<html lang="ja">
  <head>
    <link rel="stylesheet" href="style.css">
    <script type ="text/javascript" src="search.js"></script>
    <title>Hello But Why??</title>
  </head>
  <body>
    <div class="sample1">Here isn't Your Place</div>
  </body>
</html>
