<!DOCTYPE html>
<html lang="ja">
  <head>
    <script type ="text/javascript" src="search.js"></script>
    <title>アカウント登録</title>
  </head>

  <body>
    簡単登録してすぐにGO!
    <form action="/RegiAuth" method="post" align="center" name="form1">
      ユーザーネーム: <input type="text" id="uname" name="Uname" size="40" maxlength="12" onkeyup="doNameSearch();" placeholder="5文字以上半角英数字"><br>
      <div id="result_uname"></div><br>
      パスワード: <input type="password" id ="pass" name ="pass" size="40" maxlength="50"  onkeyup="doCheckButton();"  placeholder ="8文字以上半角英数字記号"><br>
      <div id="result_pass"></div><br>

      <button type="submit" id ="button1"  disabled>登録</button>

    </form>
    <br>
  </body>
</html>
